/* default style for body */
body{
    padding: 0;
    margin: 0;
}
/* font */
*{
    font-family: Poppins;
}
/* navigation bar style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 3rem 0px 3rem;
}
.logo{
    width: 150px;
}
.type{
    width: 100px;
}
.btn{
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(#A58655,#DEC793,#A58655);
    box-shadow: 0 1px 4px 0 gray;
    cursor: pointer;
}
/* form style */
.container{
    display: flex;
    justify-content: center;
    gap: 10rem;
}
.card *{
    margin: 0.25rem;
}
.input{
    border: none;
    background-color: #D9D9D9;
    padding: 5px;
    border-radius: 30px;
}
.pattern{
    width: 180px;
}